{{!
    This file is part of mod_publication for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_publication/overrides
    This template renders the overrides table for the publication module.
}}

<div class="">
    <a href="{{newoverrideurl}}" class="btn btn-primary">{{addoverridetitle}}</a>
    <table class="table w-100 mt-2">
        <thead>
            <tr>
                <th>{{usergroupcoltitle}}</th>
                <th>{{#str}}overrides,assign{{/str}}</th>
                <th>{{#str}}action{{/str}}</th>
            </tr>
        </thead>
        <tbody>
            {{#overridesempty}}
                <tr>
                    <td colspan="99">{{#str}}overrides:empty,publication{{/str}}</td>
                </tr>
            {{/overridesempty}}
            {{^overridesempty}}
                {{#overrides}}
                    <tr>
                        <td>{{#userurl}}<a href="{{.}}" title="{{fullname}}">{{/userurl}}{{fullname}}{{#userurl}}</a>{{/userurl}}</td>
                        <td><div class="">{{submissionoverride}}</div><div class="">{{approvaloverride}}</div></td>
                        <td><a href="{{editurl}}">{{#pix}}t/edit{{/pix}}</a><a href="{{deleteurl}}">{{#pix}}t/delete{{/pix}}</a></td>
                {{/overrides}}
            {{/overridesempty}}
        </tbody>
    </table>
</div>