{{!
    This file is part of mod_publication for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_publication/partial_assignlink

    Classes required for JS:
    * none

    Data attributes required for JS:
    * none

    Context variables required for this template:
    * notset Boolean indicating if the assignment is not set
    * notfound Boolean indicating if the assignment is not found
    * assign Boolean indicating if the assignment is assigned
    * url URL for the assignment
    * name Name of the assignment

    Example context (json):
    {
        "notset": false,
        "notfound": false,
        "assign": true,
        "url": "http://example.com",
        "name": "Assignment 1"
    }
}}

{{#notset}}
    <tr>
        <th>{{#str}}assignment,publication{{/str}}</th>
        <td class="alert-warning">{{#str}}assignment_notset,publication{{/str}}</td>
    </tr>
{{/notset}}
{{#notfound}}
    <tr>
        <th>{{#str}}assignment,publication{{/str}}</th>
        <td class="alert-warning">{{#str}}assignment_notfound,publication{{/str}}</td>
    </tr>
{{/notfound}}
{{#assign}}
    <tr>
        <th>{{#str}}assignment,publication{{/str}}</th>
        <td><a href="{{url}}">{{name}}</a></td>
    </tr>
{{/assign}}